<div class="modal bakScuro fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-modal="true" role="dialog" >
    <div class="modal-dialog modal-dialog-scrollable" id="classDialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                Body
            </div>
            <div class="modal-footer" id="bottoniModal">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary">Qualcosa</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
$(document).ready(function () {

  
  $('div:has(input[required]) > label.form-label')
    .after('<span class="text-danger">&nbsp; *</span>');

  $('div:has(select[required]) > label.form-label')
    .after('<span class="text-danger">&nbsp; *</span>');
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "10000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }


{# Flash messages #}
{% set messages = flash_messages() %}
{% if messages is not empty %}
	{% for msg in messages %}
		{% set type = msg.type|default('info') %}
		toastr["{{ type }}"](
		            "{{ __(msg.body)|default(msg|join(', ')) }}",
		            "{{ __(msg.title)|default('N/D') }}"
		        );
	{% endfor %}
	{{ clear_flash_messages() }}
{% endif %}


$('[data-toggle="select2"]').select2();

  //date();
  soldiClass();
  setTimeout(() => {
    $("#loading").fadeOut("slow", function() {
        $('#loading').hide();
    });

  }, 1000);
});

</script>
