<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | {{ NomeApp | default('Gestionale in Costruzione') }}</title>
  {{ theme_head_before() }}

  {# Extra CSS specifici della pagina #}
  {% block css %}{% endblock %}
  {{ theme_head_after() }}
</head>

<body class="loading {% block classBody %}{% endblock %}"
  data-layout='{{ DefaultSetting|default("{\"mode\":\"light\",\"width\":\"fluid\",\"menuPosition\":\"fixed\",\"sidebar\":{\"color\":[\"dark\"]},\"topbar\":{\"color\":[\"dark\"]},\"showRightSidebarOnPageLoad\":true}")|raw }}'>

  {# Loader #}
  {% set Loader = include('includesTemplate/loader.html') %}
  {{ Loader | raw }}

  <!-- Inizio Pagina -->
  <div id="wrapper">
    {% block NoLogin %}
    {{ theme_body_before() }}
    {% endblock %}
    <div class="content-page">
      <div class="content">
        <div class="container-fluid">
          <div id="messaggiAjax">

          </div>
          {# Contenuto principale #}
          {% block Body %}{% endblock %}
        </div>
        {# Footer #}

        {{ theme_body_after() }}
        {# ===================== JS FOOTER ===================== #}
        {{ theme_footer_before() }}




        {# JS specifici della pagina #}
        {% block Script %}{% endblock %}
      </div>
    </div>
  </div>
  <script>
    window.CSRF_TOKEN = "{{ csrf_token() }}";
  </script>
  {{ theme_footer_after() }}
</body>

</html>