<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>{{ page_title() }} | {{ NomeApp | default('Gestionale in Costruzione') }}</title>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {{ theme_head_before() }}

  {# Extra CSS specifici della pagina #}
  {% block css %}{% endblock %}
  {{ theme_head_after() }}
</head>

<body class="loading {% block classBody %}{% endblock %}"
  data-layout='{{ DefaultSetting|default("{\"mode\":\"light\",\"width\":\"fluid\",\"menuPosition\":\"fixed\",\"sidebar\":{\"color\":[\"dark\"]},\"topbar\":{\"color\":[\"dark\"]},\"showRightSidebarOnPageLoad\":true}")|raw }}'>

  {# Loader #}
  {% set Loader = include('includesTemplate/loader.html') %}
  {{ Loader | raw }}

  <!-- Inizio Pagina -->
  <div id="wrapper">
    {% block NoLogin %}
    {{ theme_body_before() }}
    {% endblock %}
    <div class="content-page">
      <div class="content">
        <div class="container-fluid">
          <div id="messaggiAjax">

          </div>

          {% block Body %}{% endblock %}
        </div>
      </div>
      {# Footer - fuori da .content ma dentro .content-page #}
      {{ theme_body_after() }}
    </div>
  </div>
  {# ===================== JS FOOTER ===================== #}
  {{ theme_footer_before() }}

  {% block Script %}{% endblock %}
  <script>
    window.CSRF_TOKEN = "{{ csrf_token() }}";
  </script>
  {{ theme_footer_after() }}
</body>

</html>